---
---
@import "minima";

// centre image captions
img + em {
  display: block;
  text-align: center;
  padding-top: 2ex;
  padding-bottom: 2ex;
}
img {
  display: block;
  margin: auto;
  padding-top: 2ex;
  padding-bottom: 2ex;
}


.post-content p {
  padding-bottom: 3ex;
}

.post-content li {
  padding-bottom: 2ex;
}
